@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Ubuntu:wght@300&display=swap");
:root {
  --color-light-black: #2a2a2a;
  --color-primary-dark: #e58400;
  --color-white: #fff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Nunito', sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 53.13%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 31.25%; } }
  @media only screen and (max-width: 15.65rem) {
    html {
      font-size: 23%; } }

body {
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  color: var(--color-light-dark); }

a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-primary-dark); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-size: 3.5rem;
  line-height: 1; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.7rem; }

p {
  font-size: 1.8rem; }

li {
  list-style-type: none; }

button {
  font-size: 1.5rem; }

.btn {
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
  color: #fff;
  transition: all .2s;
  background-color: var(--color-primary-dark);
  box-shadow: 0 4px rgba(255, 163, 17, 0.78);
  transition: all .2s; }
  .btn:hover {
    transform: translateY(-0.5rem); }

.container {
  display: grid;
  grid-template-rows: min-content 80vh min-content max-content repeat(3, min-content);
  grid-template-columns: 6rem repeat(8, minmax(min-content, 1fr)) 6rem; }

.newsletter__input {
  border: none;
  background-color: rgba(244, 242, 242, 0.48);
  font-size: 1.5rem;
  padding-left: 1.2rem; }
  .newsletter__input:focus {
    outline: none;
    border-bottom: 3px solid var(--color-primary-dark); }
    .newsletter__input:focus:invalid {
      border-bottom: 3px solid red; }
  .newsletter__input::-webkit-input-placeholder {
    color: var(--color-primary-dark);
    font-size: 1.5rem;
    padding-left: 1rem; }

.icon {
  width: 3rem;
  height: 3rem; }
  .icon--list {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-primary-dark); }

.hidden {
  display: none; }

.overlay {
  background-color: rgba(255, 255, 255, 0.61);
  z-index: 5;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%; }

.asterik abbr {
  text-decoration: none;
  color: #ff0000;
  margin-left: 5px; }

.margin-t-sm {
  margin-top: 1.5rem; }

.margin-t-md {
  margin-top: 2.5rem; }

.margin-t-lg {
  margin-top: 4rem; }

.margin-t-xlg {
  margin-top: 15rem; }

.margin-b-sm {
  margin-bottom: 1.5rem; }

.margin-b-md {
  margin-bottom: 2.5rem; }

.margin-b-lg {
  margin-bottom: 4rem; }

.margin-b-xlg {
  margin-bottom: 15rem; }

.center {
  text-align: center; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.icon-location,
.icon-phone,
.icon-envelop {
  fill: var(--color-primary-dark); }

.about__container {
  display: grid;
  grid-template-columns: 10rem repeat(9, 1fr) 10rem;
  grid-template-rows: 90vh repeat(2, max-content); }
  @media only screen and (max-width: 50em) {
    .about__container {
      grid-template-columns: 5rem repeat(9, 1fr) 5rem; } }
  @media only screen and (max-width: 33.12em) {
    .about__container {
      grid-template-rows: 50vh repeat(2, max-content); } }
  @media only screen and (max-width: 20em) {
    .about__container {
      grid-template-columns: 3rem repeat(9, 1fr) 3rem; } }
  @media only screen and (max-width: 15.6em) {
    .about__container {
      grid-template-rows: max-content repeat(2, max-content); } }

.about__heading {
  grid-row: 1 / 2;
  position: relative;
  grid-column: 1 / -1;
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 8rem 10rem repeat(2, 1fr) 8rem;
  grid-template-rows: max-content;
  align-content: center; }
  @media only screen and (max-width: 50em) {
    .about__heading {
      align-content: start;
      justify-content: center;
      row-gap: 5rem;
      padding: 15rem 0; } }
  @media only screen and (max-width: 33.12em) {
    .about__heading {
      grid-row: 1 / 2;
      background-image: linear-gradient(to left, rgba(209, 209, 209, 0.9), rgba(172, 172, 172, 0.5)), url(../../image/news.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top; } }
  @media only screen and (max-width: 15.6em) {
    .about__heading {
      padding-top: 0;
      padding: 5rem 0; } }
  .about__heading-text {
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: min-content max-content;
    grid-gap: 2rem; }
    @media only screen and (max-width: 50em) {
      .about__heading-text {
        grid-column: 2 / 5; } }
  .about__heading-img {
    position: relative; }
    @media only screen and (max-width: 50em) {
      .about__heading-img {
        grid-column: 2 / 5; } }
    @media only screen and (max-width: 33.12em) {
      .about__heading-img {
        display: none; } }
    .about__heading-img--1 {
      right: 0;
      top: 2rem;
      z-index: 100; }
      @media only screen and (max-width: 62.5em) {
        .about__heading-img--1 {
          right: -5rem; } }
      @media only screen and (max-width: 50em) {
        .about__heading-img--1 {
          left: 15rem; } }
      @media only screen and (max-width: 33.12em) {
        .about__heading-img--1 {
          left: 0; } }
    .about__heading-img--2 {
      top: 5rem;
      left: 0; }
      @media only screen and (max-width: 62.5em) {
        .about__heading-img--2 {
          right: 5%; } }
      @media only screen and (max-width: 50em) {
        .about__heading-img--2 {
          left: 7rem;
          top: 15rem; } }
      @media only screen and (max-width: 33.12em) {
        .about__heading-img--2 {
          left: 5rem; } }
    .about__heading-img--3 {
      top: 15rem;
      right: 10%; }
      @media only screen and (max-width: 62.5em) {
        .about__heading-img--3 {
          right: 5%; } }
      @media only screen and (max-width: 50em) {
        .about__heading-img--3 {
          left: 30rem; } }
      @media only screen and (max-width: 33.12em) {
        .about__heading-img--3 {
          left: 0; } }
    .about__heading-img img {
      position: absolute;
      width: 300px;
      height: 200px;
      transition: all .2s; }
      @media only screen and (max-width: 75em) {
        .about__heading-img img {
          width: 220px;
          height: 145px; } }
      @media only screen and (max-width: 50em) {
        .about__heading-img img {
          width: 270px;
          height: 170px; } }
      @media only screen and (max-width: 37.5em) {
        .about__heading-img img {
          width: 220px;
          height: 145px; } }
      @media only screen and (max-width: 33.12em) {
        .about__heading-img img {
          width: 200px;
          height: 120px; } }
      .about__heading-img img:hover {
        z-index: 9999;
        transform: scale(1.2); }

.about__workers {
  grid-column: 2 / 11;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
  text-align: center; }
  @media only screen and (max-width: 20em) {
    .about__workers {
      grid-template-columns: minmax(10rem, 1fr); } }
  .about__workers-style {
    grid-column: 1 / -1;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    padding: 2rem;
    text-align: center; }
    @media only screen and (max-width: 20em) {
      .about__workers-style {
        grid-column: 1 / -1; } }

.about__client {
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 5rem;
  grid-column-gap: 2rem;
  place-items: center; }
  .about__client-heading {
    justify-self: stretch; }
  .about__client-name {
    grid-column: 1 / -1;
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    grid-template-columns: repeat(6, 1fr); }
    @media only screen and (max-width: 62.5em) {
      .about__client-name {
        grid-gap: 5rem; } }
    @media only screen and (max-width: 50em) {
      .about__client-name {
        grid-template-columns: repeat(3, 1fr); } }
    @media only screen and (max-width: 20em) {
      .about__client-name {
        grid-template-columns: repeat(2, 1fr); } }
  .about__client-icon {
    height: 10rem;
    width: 10rem;
    fill: var(--color-primary-dark); }
    @media only screen and (max-width: 62.5em) {
      .about__client-icon {
        height: 8rem;
        width: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__client-icon {
        height: 6rem;
        width: 6rem; } }
    @media only screen and (max-width: 20em) {
      .about__client-icon {
        height: 9rem;
        width: 9rem; } }

.user {
  width: 90%;
  border-radius: 50%; }
  .user__img {
    margin-bottom: .7rem; }
    @media only screen and (max-width: 20em) {
      .user__img {
        width: 50%;
        height: 50%; } }

.icon__facebook, .icon__whatsapp, .icon__github, .icon__twitter, .icon__paypal, .icon__instagram {
  transition: all .3s; }

.icon__facebook:hover {
  fill: #3b5998;
  transform: translateY(1rem) scale(1.2); }

.icon__whatsapp:hover {
  fill: #128c7e;
  transform: translateY(-1rem) scale(1.2); }

.icon__github:hover {
  fill: #171515;
  transform: translateY(1rem) scale(1.2); }

.icon__twitter:hover {
  fill: #00acee;
  transform: translateY(-1rem) scale(1.2); }

.icon__paypal:hover {
  fill: #3b7bbf;
  transform: translateY(1rem) scale(1.2); }

.icon__instagram:hover {
  fill: #405de6;
  transform: translateY(-1rem) scale(1.2); }

.bg__video {
  width: 100vw;
  height: 100%;
  opacity: .25;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  @media only screen and (max-width: 33.12em) {
    .bg__video {
      display: none; } }

.contact {
  display: grid;
  grid-row-gap: 5rem;
  column-gap: 2rem;
  grid-template-columns: 6rem repeat(8, 1fr) 6rem;
  grid-template-rows: 70vh max-content; }
  @media only screen and (max-width: 62.5em) {
    .contact {
      grid-template-rows: 60vh max-content; } }
  @media only screen and (max-width: 50em) {
    .contact {
      grid-template-rows: 50vh max-content; } }
  @media only screen and (max-width: 37.5em) {
    .contact {
      grid-template-rows: 40vh max-content; } }
  @media only screen and (max-width: 20em) {
    .contact {
      grid-template-rows: 20vh max-content; } }
  .contact__header {
    grid-column: 1 / -1;
    background-image: url(../image/goo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: visible; }
  .contact__body {
    grid-column: 2 / 10;
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-column-gap: 3rem; }
    @media only screen and (max-width: 50em) {
      .contact__body {
        grid-column-gap: 0;
        grid-row-gap: 3rem; } }
    .contact__body-one {
      grid-column: 1 / 2; }
      @media only screen and (max-width: 50em) {
        .contact__body-one {
          grid-column: 1 / -1;
          width: 70%; } }
    .contact__body-info {
      display: grid;
      grid-gap: 1rem; }
      .contact__body-info-full {
        grid-column: 1 / -1; }
      .contact__body-info--grid {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 1rem; }
    .contact__body-us {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 1.5rem; }
      @media only screen and (max-width: 50em) {
        .contact__body-us {
          grid-column: 1 / -1; } }
      .contact__body-us-heading {
        grid-column: 1 / -1; }
      .contact__body-us--input {
        grid-column: 1 / 5;
        display: grid;
        grid-template-rows: min-content 5rem;
        grid-row-gap: .5rem; }
        @media only screen and (max-width: 62.5em) {
          .contact__body-us--input {
            grid-column: 1 / -1; } }
        .contact__body-us--input-label {
          align-self: end;
          font-size: 1.8rem !important; }
        .contact__body-us--input-input {
          align-self: stretch;
          background-color: rgba(217, 217, 217, 0.74); }
      .contact__body-us__message {
        grid-column: 1 / 4;
        display: grid;
        grid-template-rows: min-content max-content;
        grid-row-gap: 1rem; }
      .contact__body-us--btns {
        grid-column: 1 / 3; }
        @media only screen and (max-width: 50em) {
          .contact__body-us--btns {
            grid-column: 1 / 4; } }
        @media only screen and (max-width: 25em) {
          .contact__body-us--btns {
            grid-column: 1 / 4; } }

textarea {
  border: 1px solid var(--color-primary-dark);
  border-radius: .2rem;
  outline: none; }

.form {
  width: 70vw;
  background-color: var(--color-white);
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 3rem; }
  @media only screen and (max-width: 800px) {
    .form {
      width: 80vw;
      grid-template-columns: 1fr;
      margin: 10rem auto;
      height: 100vh; } }
  .form__img {
    background-image: linear-gradient(to right, rgba(240, 125, 8, 0.81), rgba(230, 129, 27, 0.29)), url(../../image/news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }
  .form__input {
    display: grid;
    grid-template-rows: max-content;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 5rem; }
    .form__input img {
      grid-column: 1 / -1; }
    .form__input-1 {
      grid-row: 2 / 3;
      grid-column: 1 / col-end 6; }
    .form__input-2 {
      grid-row: 3 / 4;
      grid-column: 1 / col-end 6; }
    .form__input-3 {
      grid-row: 4 / 5;
      grid-column: 1 / col-end 6; }
  .form__button {
    grid-column: 1  / 4;
    grid-row: 5 / 6; }

.container {
  display: grid;
  grid-template-rows: min-content 90vh min-content max-content repeat(3, min-content);
  grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end] 6rem;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: min-content 55vh min-content max-content min-content; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: min-content 50vh min-content max-content min-content; } }
  @media only screen and (max-width: 15.65em) {
    .container {
      grid-template-rows: min-content 30vh min-content max-content min-content; } }

.nav {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem 3rem;
  box-shadow: 0 3px 5px rgba(203, 203, 203, 0.74);
  background-color: rgba(253, 244, 235, 0); }
  @media only screen and (max-width: 62.5em) {
    .nav {
      grid-template-columns: min-content repeat(2, 1fr) min-content;
      grid-column: 10rem;
      justify-content: flex-start; } }
  .nav__logo {
    color: var(--color-primary-dark);
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    column-gap: 2rem;
    font-size: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .nav__logo {
        grid-column: 2 / -1;
        margin: 0 auto; } }
    .nav__logo-icon {
      display: none;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      fill: rgba(245, 155, 33, 0.73);
      transition: all .2s; }
      .nav__logo-icon:hover {
        transform: translateX(-1rem);
        fill: #e58400; }
      @media only screen and (max-width: 62.5em) {
        .nav__logo-icon {
          display: inline-grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: space-between;
          width: 5rem;
          height: 5rem; } }
  .nav__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, max-content));
    grid-gap: 3rem;
    cursor: pointer;
    font-size: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .nav__list {
        display: none; } }
    .nav__list-li a {
      display: grid;
      align-items: center;
      grid-template-columns: min-content max-content;
      grid-column-gap: .9rem; }
      .nav__list-li a:hover {
        transform: scale(1.1); }
      .nav__list-li a svg {
        justify-self: end; }
      .nav__list-li a span {
        color: var(--color-primary-dark); }

.header__hero {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: max-content;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(240, 125, 8, 0.81), rgba(230, 129, 27, 0.29)), url(../../image/doglove.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  @media only screen and (max-width: 50em) {
    .header__hero {
      background-attachment: scroll; } }
  @media only screen and (max-width: 37.5em) {
    .header__hero {
      background-image: linear-gradient(to left, rgba(240, 125, 8, 0.81), rgba(230, 129, 27, 0.69)), url(../image/dog/alaskan/alas-1.jpg);
      padding: 0;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      clip-path: polygon(0 0, 100% 0%, 100% 90vh, 0 100%); } }

.header__text {
  color: var(--color-white);
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 1rem;
  place-items: center; }
  .header__text-heading {
    font-size: 7rem;
    font-family: 'Ubuntu', sans-serif; }
    @media only screen and (max-width: 62.5em) {
      .header__text-heading {
        font-size: 6rem; } }
    @media only screen and (max-width: 46.87em) {
      .header__text-heading {
        font-size: 4rem; } }
  .header__text-btn {
    width: 15rem; }

.sidebar {
  background-color: var(--color-primary-dark);
  z-index: 9999;
  position: absolute;
  top: 7rem;
  height: 98.78%;
  width: 24rem;
  display: grid;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  justify-content: center;
  grid-gap: 2rem;
  padding-top: 2rem; }
  @media only screen and (min-width: 62.5em) {
    .sidebar {
      display: none; } }
  .sidebar span {
    color: #fff;
    font-size: 1.5rem; }
  .sidebar__icon {
    fill: #fff;
    width: 2rem;
    height: 2rem; }
  .sidebar__grid {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 3rem;
    align-items: center; }

.latest {
  grid-column: 2 / 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem; }
  .latest__heading {
    grid-column: 1 / -1;
    justify-self: stretch;
    align-self: stretch;
    padding: 1rem; }
  .latest-text {
    text-align: justify; }

.newsletter {
  grid-column: 2 / 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  align-items: stretch;
  grid-template-rows: min-content; }
  @media only screen and (max-width: 50em) {
    .newsletter {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 50vh; } }
  @media only screen and (max-width: 50em) {
    .newsletter {
      grid-row-gap: 3rem; } }
  @media only screen and (max-width: 25em) {
    .newsletter {
      grid-template-rows: max-content;
      grid-row-gap: 0; } }
  .newsletter__details {
    display: grid;
    grid-template-columns: 1fr; }
    .newsletter__details--text {
      grid-column: 1 / -1; }
      .newsletter__details--text span {
        font-size: 2.5rem; }
  .newsletter__img {
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%);
    background-image: linear-gradient(to right, rgba(240, 125, 8, 0.81), rgba(230, 129, 27, 0.29)), url(../../image/news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }
    @media only screen and (max-width: 50rem) {
      .newsletter__img {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
        grid-column: 1 / -1;
        z-index: -1; } }
  .newsletter__details {
    justify-self: end;
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: max-content;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content; }
    @media only screen and (max-width: 37.5em) {
      .newsletter__details {
        grid-template-rows: max-content repeat(2, 7rem) min-content; } }
    .newsletter__details-name {
      grid-column: 1 / 5;
      grid-row: 2 / 3;
      display: grid;
      grid-template-rows: 6rem min-content; }
    .newsletter__details-email {
      grid-column: 1 / 5;
      grid-row: 3 / 4;
      display: grid;
      grid-template-rows: max-content min-content;
      grid-template-rows: 5rem min-content; }
    .newsletter__details-btn {
      grid-row: 4 / 5;
      grid-column: 1 / 3; }
      @media only screen and (max-width: 37.5em) {
        .newsletter__details-btn {
          grid-column: 1 / 2; } }

.footer {
  background-color: rgba(255, 180, 10, 0.94);
  padding: 4rem 3rem;
  grid-column: 1 / -1; }
  .footer img {
    width: 20%;
    margin: 0 auto; }
  .footer__list {
    font-size: 1.5rem;
    text-transform: uppercase; }
    .footer__list-grid {
      margin: 5rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
      grid-gap: 5rem;
      justify-content: center; }
      .footer__list-grid li {
        padding: 2rem;
        background-color: var(--color-primary-dark);
        color: #fff;
        text-align: center;
        transition: all .2s; }
        .footer__list-grid li:hover {
          font-weight: 600;
          transform: translateY(-1rem);
          cursor: pointer; }

.copyright {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  vertical-align: center;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(4, max-content);
  justify-content: center; }
  .copyright span {
    color: white; }
  .copyright span:first-child {
    grid-column: 1 / -1; }
  .copyright__icon {
    fill: #fff;
    height: 2rem;
    width: 2rem;
    transition: all .2s; }
    .copyright__icon:hover {
      fill: #ff0000;
      transform: scale(1.3); }

.sidebar__popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: 10;
  background-color: var(--color-primary-dark);
  box-shadow: 0 4px solid #fff; }

.hidden {
  display: none; }

.error {
  margin-left: 1rem;
  padding-top: .7rem;
  color: #ff0000; }

.gallery__container {
  display: grid;
  grid-template-columns: [space-start] 5rem [space-end] repeat(auto-fit, [col-start] minmax(25rem, 1fr) [col-end]) [full-start] 5rem [full-end];
  grid-template-rows: min-content repeat(auto-fit, minmax(15rem, 1fr)); }

.nav__gallery {
  grid-column: 1 / -1; }

.gallery {
  margin-top: 5rem;
  grid-column: col-start 1 / full-start;
  display: grid;
  grid-template-columns: repeat(9, [col-start] 1fr [col-end]);
  grid-gap: 2rem;
  grid-auto-flow: row; }

.image__gallery-1 {
  grid-column: col-start 1 / col-start 3;
  grid-row: 1 / 3; }

.image__gallery-2 {
  grid-column: col-start 3 / col-start 5;
  grid-row: 1 / 2; }

.image__gallery-3 {
  grid-column: col-start 3 / col-start 5;
  grid-row: 2 / 4; }

.image__gallery-6 {
  grid-column: col-end 4 / col-end 6;
  grid-row: 3 / 5; }

.image__gallery-8 {
  grid-column: col-start 7 / col-start 9;
  grid-row: 1 / 2; }

.image__gallery-11 {
  grid-column: col-end 6 / col-end 8;
  grid-row: 4 / 6; }

.image__gallery-16 {
  grid-column: col-start 1 / col-start 3;
  grid-row: 4 / 6; }

.image__gallery-21 {
  grid-column: col-start 3 / col-end 4;
  grid-row: 5 / 7; }

.image__gallery-25 {
  grid-column: 5 / 7; }

.image__gallery-33 {
  grid-column: 3 / span 3; }

.image__gallery-34 {
  grid-column: 3 / 5; }

.image__gallery-43 {
  grid-row: 7 / 9;
  grid-column: 1 / 3; }

.image__gallery-40 {
  grid-column: 1 / 5; }

.image__gallery-73 {
  grid-column: 6 / -1;
  grid-row: 7 / 8; }

.footer_gallery {
  grid-column: 1 / -1; }

.store__container {
  display: grid;
  grid-template-columns: 7rem 1fr 7rem;
  justify-content: center; }

.store__products {
  grid-column: 2 / 3;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  .store__products-heading {
    grid-column: 1 / -1; }

.store__products--animal {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 1.5rem;
  padding: 1rem; }
  .store__products--animal-img {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .store__products--animal-add {
    color: var(--color-white);
    cursor: pointer;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / -1; }
    .store__products--animal-add__left {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      background-color: var(--color-primary-dark);
      align-items: center;
      padding: .7rem;
      justify-content: center;
      grid-column-gap: 2rem; }
      .store__products--animal-add__left svg {
        fill: var(--color-white); }
    .store__products--animal-add p {
      background-color: var(--color-primary-dark);
      text-align: center; }
  .store__products--animal-rating {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, max-content);
    fill: var(--color-primary-dark);
    align-items: center; }
  .store__products--animal-love {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 9999;
    padding-right: 1rem;
    padding-top: 1rem;
    fill: var(--color-white);
    justify-self: end;
    cursor: pointer; }
    .store__products--animal-love:hover {
      fill: var(--color-primary-dark); }
  .store__products--animal-detail {
    grid-column: 1 / -1; }

span {
  font-size: 1.5rem;
  color: #767676; }

.icon-rating {
  height: 1.5rem;
  width: 1.5rem; }
