@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root {
    --color-light-black: #3b3b3b;
    --color-primary-dark: #e58400;
    --color-white: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px = 1rem
}
body {
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--color-primary-dark);
}

h1 {font-size: 3.5rem; line-height: 1;margin-bottom: .3rem;}
h2 {font-size: 3rem}
h4{font-size: 2.5rem;}

p {
    font-size: 2rem;
}

li {
    list-style-type: none;
}

.btn {
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.9rem;
    color: #fff;
    transition: all .2s;
    background-color: var(--color-primary-dark);
    box-shadow: 0 4px rgba(255, 163, 17, 0.78);
    transition: all .2s;
    
    &:hover {
        transform: translateY(-.5rem);
    }
}

.container {
    position: relative;
	display: grid;
	grid-template-rows: 80vh repeat(2, min-content) repeat(3, min-content);
	grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.newsletter__input {
    border: none;
    background-color: rgba(248, 244, 244, 0.24);
    
    &:focus {
        outline: none;
        border-bottom: 3px solid var(--color-primary-dark);
        
        &:invalid {border-bottom: 3px solid red;}
    }  
    
    &::-webkit-input-placeholder {
        color: var(--color-primary-dark);
        font-size: 1.5rem;
        padding-left: 1rem;
    }
}

.icon_nav {
    fill: var(--color-white);
    width: 4rem;
    height: 4rem;
}

.icon__cog {
    align-self: end;
}

