.margin-sm{margin-top: 1.5rem}
.margin-md{margin-top: 2.5rem}
.margin-lg{margin-top: 4rem}
.margin-xlg{margin-top: 15rem}
.margin-bsm{margin-bottom: 1.5rem}
.margin-b-md{margin-bottom: 2.5rem}
.margin-b-lg{margin-bottom: 4rem;}
.margin-b-xlg{margin-bottom: 15rem;}
.center {text-align: center}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.icon-location,
.icon-phone,
.icon-envelop {
	fill: var(--color-primary-dark);
} 