.about {
	&__container {
	display: grid;
	grid-template-columns: 10rem repeat(9, 1fr) 10rem;
//	grid-template-rows: minmax(90vh, max-content) repeat(2, max-content);
		grid-template-rows: 90vh repeat(2, max-content);
		
		@media only screen and (max-width: $bp-medium) {
			grid-template-columns: 5rem repeat(9, 1fr) 5rem;
		}
		
		@media only screen and (max-width: 33.12em) {
			grid-template-rows: 50vh repeat(2, max-content);
		}
		
		@media only screen and (max-width: $bp-watch) {
			grid-template-columns: 3rem repeat(9, 1fr) 3rem;
		}
		
		@media only screen and (max-width: 15.6em) {
			grid-template-rows: max-content repeat(2, max-content);
		}
	}
	
	&__heading {
		grid-row: 1 / 2;
		position: relative;
		grid-column: 1 / -1;
		display: grid;
		grid-column-gap: 3rem;
		grid-template-columns: 8rem 10rem repeat(2, 1fr) 8rem;
		grid-template-rows: max-content;
		align-content: center;
		
		
		@media only screen and (max-width: $bp-medium) {
			align-content: start;
			justify-content: center;
			row-gap: 5rem;
			padding: 15rem 0;
		}
		
		@media only screen and (max-width: 33.12em) {
			grid-row: 1 / 2;
			background-image: linear-gradient(to left, rgba(209, 209, 209, 0.9), rgba(172, 172, 172, 0.5)), url(../../image/news.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;
		}
		
		@media only screen and (max-width: 15.6em) {
			padding-top : 0;
			padding: 5rem 0;
		}
		
		
		&-text {
			grid-column: 2 / 4;
//			display: flex;
//			flex-direction: column;
//			gap: 3rem;
			
			display: grid;
			grid-template-rows: min-content max-content;
			grid-gap: 2rem;
			
			@media only screen and (max-width: $bp-medium) {
				grid-column: 2 / 5;
//				margin-top: 10rem;
			}
		}
		
		&-img {
			position: relative;
			
			@media only screen and (max-width: $bp-medium) {
				grid-column: 2 / 5;
			}
			
			@media only screen and (max-width: 33.12em) {
			display: none;
		}
		
			&--1 {
				right: 0;
				top: 2rem;
				z-index: 100;
				
				@media only screen and (max-width: $bp-large) {
					right: -5rem
				}
				
				@media only screen and (max-width: $bp-medium) {
					left: 15rem;
				}
				
				@media only screen and (max-width: 33.12em) {
					left: 0;
				}
			}
			
			&--2 {
				top: 5rem;
				left: 0;
				
				@media only screen and (max-width: $bp-large) {
					right: 5%;
				}
				
				@media only screen and (max-width: $bp-medium) {
					left: 7rem;
					top: 15rem;
				}
				
				@media only screen and (max-width: 33.12em) {
					left: 5rem;
				}
			}
			
			&--3 {
				top: 15rem;
				right : 10%;
				
				@media only screen and (max-width: $bp-large) {
					right: 5%;
				}
				
				@media only screen and (max-width: $bp-medium) {
					left: 30rem
				}
				
				@media only screen and (max-width: 33.12em) {
					left: 0;
				}
			}
			
			img {
				position: absolute;
				width: 300px;
				height: 200px;
				transition: all .2s;
				
				@media only screen and (max-width: 75em) {
					width: 220px;
					height: 145px;
				}
				
				@media only screen and (max-width: $bp-medium) {
					width: 270px;
					height: 170px;
				}
				
				@media only screen and (max-width: $bp-small) {
					width: 220px;
					height: 145px;
				}
				
				@media only screen and (max-width: 33.12em) {
					width: 200px;
					height: 120px;
				}
				&:hover {
					z-index: 9999;
					transform: scale(1.2);
				}
			}
		}
	}
	
	&__workers {
		grid-column: 2 / 11;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 5rem;
		text-align: center;
		
		@media only screen and (max-width: $bp-watch) {
			grid-template-columns: minmax(10rem, 1fr);
		}
		
		&-style {
			grid-column: 1 / -1;
			background-color: var(--color-primary-dark);
			color: var(--color-white);
			padding: 2rem;
			text-align: center;
			
			
				@media only screen and (max-width: $bp-watch) {
					grid-column: 1 / -1;
				}
			}
	}
	
	&__client {
		grid-column: 2 / 11;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-row-gap: 5rem;
		grid-column-gap: 2rem;
		place-items: center;
		
		&-heading {
			justify-self: stretch;
		}
		
		&-name {
			grid-column: 1 / -1;
			display: grid;
			grid-column-gap: 3rem;
			grid-row-gap: 4rem;
			grid-template-columns: repeat(6, 1fr);
			
			@media only screen and (max-width: $bp-large) {
				grid-gap: 5rem;
			}
			
			@media only screen and (max-width: $bp-medium) {
				grid-template-columns: repeat(3, 1fr);
			}
			
			@media only screen and (max-width: $bp-watch) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		
		&-icon {
			height: 10rem;
			width: 10rem;
			fill: var(--color-primary-dark);
			
			@media only screen and (max-width: $bp-large) {
				height: 8rem;
				width: 8rem;
			}
			
			@media only screen and (max-width: $bp-small) {
				height: 6rem;
				width: 6rem;
			}
			@media only screen and (max-width: $bp-watch) {
				height: 9rem;
				width: 9rem;
			}
		}
	}
}

.user {
	width: 90%;
	border-radius: 50%;
	
	&__img {
		margin-bottom: .7rem;
		
		@media only screen and (max-width: $bp-watch) {
			width: 50%;
			height: 50%;
		}
	}
}

.icon {
	&__facebook,
	&__whatsapp,
	&__github,
	&__twitter,
	&__paypal,
	&__instagram{
		transition: all .3s;
	}
	
	&__facebook:hover {
		fill: #3b5998;
		transform: translateY(1rem) scale(1.2);
	}
	
	&__whatsapp:hover {
		fill: #128c7e;
		transform: translateY(-1rem) scale(1.2);
	}
	
	&__github:hover {
		fill: #171515;
		transform: translateY(1rem) scale(1.2)
	}
	
	&__twitter:hover {
		fill: #00acee;
		transform: translateY(-1rem) scale(1.2)
	}
	
	&__paypal:hover {
		fill: #3b7bbf;
		transform: translateY(1rem) scale(1.2)
	}
	
	&__instagram:hover {
		fill: #405de6;
		transform: translateY(-1rem) scale(1.2)
	}
}

.bg__video {
	width: 100vw;
	height: 100%;
	opacity: .25;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	
	@media only screen and (max-width: 33.12em) {
			display: none;
		}
		
}

.welcome {
	font-size: 1rem;
}