.gallery__container {
	display: grid;
	grid-template-columns: [space-start] 5rem [space-end] repeat(auto-fit, [col-start] minmax(25rem, 1fr) [col-end]) [full-start] 5rem [full-end];
	grid-template-rows: min-content repeat(auto-fit, minmax(10rem, 1fr));
}

.nav__gallery {
	grid-column: 1 / -1;
}
.gallery {
	margin-top: 5rem;
	grid-column: col-start 1 / full-start;
	display: grid;
	grid-template-columns: repeat(9, [col-start] 1fr [col-end]);
	grid-gap: 2rem;
	grid-auto-flow: row;
	
}


.image__gallery {
	
	&-1 {
		grid-column: col-start 1 / col-start 3;
		grid-row: 1 / 3;
	}
	
	&-2 {
		grid-column: col-start 3 / col-start 5;
		grid-row: 1 / 2;
	}
	
	&-3 {
		grid-column: col-start 3 / col-start 5;
		grid-row: 2 / 4;
	}

	&-6 {
		grid-column: col-end 4 / col-end 6;
		grid-row: 3 / 5;
	}	
	
	&-8 {
		grid-column: col-start 7 / col-start 9;
		grid-row: 1 / 2;
	}

	&-11 {
		grid-column: col-end 6 / col-end 8;
		grid-row: 4 / 6;
	}

	&-16 {
		grid-column: col-start 1 / col-start 3;
		grid-row: 4 / 6;
	}

	&-21 {
		grid-column: col-start 3 / col-end 4;
		grid-row: 5 / 7;
	}
}

.footer_gallery {
	grid-column: 1 / -1;
}